## Public
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MEDUSA_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_COMMERCE_MODE=medusa
NEXT_PUBLIC_MEDUSA_DEFAULT_REGION=cn
NEXT_PUBLIC_MEDUSA_COUNTRY_CODE=cn
NEXT_PUBLIC_MEDUSA_REGION_ID=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

## Server
REVALIDATE_SECRET=
SANITY_API_TOKEN=
MEDUSA_API_KEY=
CONTROL_PLANE_URL=http://localhost:4300
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_REPLY_TO_EMAIL=
KLAVIYO_API_KEY=
POSTHOG_SECRET=
