CMS_ADAPTER=local
SANITY_PROJECT_ID=
SANITY_DATASET=
SANITY_API_TOKEN=
SEARCH_CONSOLE_SITE_URL=
SEARCH_CONSOLE_SERVICE_ACCOUNT_EMAIL=
SEARCH_CONSOLE_PRIVATE_KEY=
SEARCH_CONSOLE_TOKEN_URI=https://oauth2.googleapis.com/token
SEARCH_CONSOLE_RANGE_DAYS=1
SEARCH_CONSOLE_DATA_LAG_DAYS=2
SEARCH_CONSOLE_ROW_LIMIT=250
SEARCH_CONSOLE_SEARCH_TYPE=web
SEARCH_CONSOLE_DATA_STATE=final
SEARCH_CONSOLE_AGGREGATION_TYPE=auto
SEARCH_CONSOLE_SYNC_ENABLED=false
SEARCH_CONSOLE_SYNC_INTERVAL_MINUTES=0
SEARCH_CONSOLE_SYNC_RUN_ON_START=false
SEARCH_CONSOLE_SYNC_FAILURE_BASE_DELAY_MINUTES=15
SEARCH_CONSOLE_SYNC_FAILURE_MAX_DELAY_MINUTES=360
